
{% if user.is_authenticated %}

    Logged in as {{ user.username }}
    <a href="{% url 'dashboard' %}">Dashboard</a>
    <a href="{% url 'create_todo' %}">Create</a>
    <a href="{% url 'completed_todo' %}">Completed</a>

    <form action="{% url 'logout_user' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

{% else %}

    <a href="{% url 'signup_user' %}">Signup</a>
    <a href="{% url 'login_user' %}">Login</a>

{% endif %}

{% block content %}{% endblock %}
