{% extends 'todo/base.html' %}

{% block content %}

    <h1>Completed Todo</h1>
    <ul>
        {% for todo in todos %}
            <a href="{% url 'view_todo' todo.id %}">
                <li>
                    {% if todo.is_important %}
                        <b>
                    {% endif %}
                            {{ todo.title }}
                    {% if todo.is_important %}
                        </b>
                    {% endif %}

                    {% if todo.memo %}
                        - {{ todo.memo }}
                    {% endif %}

                    - {{ todo.completed_time|date:'M j Y H:i'}}
                </li>
            </a>
        {% endfor %}
    </ul>

{% endblock %}